<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/stile.css?version=2">

  <title> Register </title>

</head>


<body>

  <nav>
    <a href="/"><img src="/images/logo-siw.png" id="logo"></a>
    <form th:action="@{/searchUser}" method="post" id="searchBarForm">
      <input type="text" name="substring" placeholder="Search user" id="searchBar" />
      <i class="gg-search">
        <input type="submit" id="searchBar_button" />
      </i>
    </form>


    <span class="dropdown">
      <div th:unless="${#request.userPrincipal}" class="dropbtn"> Account </div>
      <div th:if="${#request.userPrincipal}" th:text="${#request.userPrincipal.principal.username}" class="dropbtn">
        Username </div>
      <div class="dropdown-content">
        <a th:if="${#request.userPrincipal}" href="/myProfile">Profile</a>
        <a th:if="${#request.userPrincipal}" href="/logout">Logout</a>
        <a th:unless="${#request.userPrincipal}" href="/login">Login</a>
        <a th:unless="${#request.userPrincipal}" href="/register"> Register </a>
      </div>
    </span>

    <span class="dropdown">
      <div class="dropbtn"> People </div>
      <div class="dropdown-content">
        <a th:if="${#request.userPrincipal}" href="/friendRequests"> Requests </a>
        <a th:if="${#request.userPrincipal}" href="/friends"> Friends </a>
        <a href="/users"> Users </a>
      </div>
    </span>
  </nav>


  <header>
    <h1> Create an account: </h1>
  </header>


  <section id="register_form">
    <form th:action="@{/register}" method="post" class="data_input" enctype="multipart/form-data">
      <div>
        <label>Username</label>
        <span>
          <input required type="text" placeholder="username" th:field="${credentials.username}" />
        </span>
      </div>
      <div>
        <label>Password</label>
        <span><input required type="password" placeholder="password" th:field="${credentials.password}" />
        </span>
      </div>
      <div>
        <label>Name</label>
        <span><input required type="text" placeholder="name" th:field="${user.name}" /></span>
      </div>
      <div>
        <label>Surname</label>
        <span><input required type="text" placeholder="surname" th:field="${user.surname}" /></span>
      </div>
      <div>
        <label>Birth Date</label>
        <input required type="date" th:field="${user.birthDate}" />
      </div>
      <div>
        <label>Email</label>
        <span><input required type="email" placeholder="email" th:field="${user.email}" /></span>
      </div>

      <div class="full_centered">
        <label for="file-upload" class="custom-file-upload"> Upload Image
          <span><i class="gg-software-upload"></i></span>
        </label>
        <input id="file-upload" type="file" accept="image/png, image/jpeg" name="image" />
      </div>

      <div class="full_centered"> <button type="submit"> Register </button> </div>


      <div th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" class="errors">
      </div>
      <div th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" class="errors">
      </div>
      <div th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}" class="errors"> </div>
      <div th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}" class="errors"> </div>
      <div th:if="${#fields.hasErrors('user.birthDate')}" th:errors="${user.birthDate}" class="errors"> </div>
      <div th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" class="errors"> </div>
    </form>
  </section>


  <footer>

  </footer>

</body>

</html>