/******************************************************************************************************************************************************************************/
/**************************************************************************** Main Items **************************************************************************************/
/******************************************************************************************************************************************************************************/

/*top right bot left*/

/* ICONS URL IMPORT */
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/software-upload.css');


:root {
  --theme_color: #1a1a1a;
  --secondary_theme_color: #333333;

  --dark_text: #999999;
  --text_standout: #00cc7a;
  --link_color: #999999;
  --link_color_selected: white;


  --primary_color: #00cc7a;
  --primary_color_selected: #2fe49b;
  --input_color: #e6ffe6;
  --border_color: var(--border_color);

}

body {
  background-color: var(--theme_color);
  font-family: "Lucida Console", "Courier New", monospace;
  color: var(--dark_text);
}

nav {
  display: flex;
  justify-content: start;
  background-color: var(--secondary_theme_color);
  padding: 0px;
  margin: -8px -8px 0px -8px;
  max-height: 50px;
}

header {
  background-color: var(--theme_color);
}

section.box {
  border: 3px groove var(--secondary_theme_color);
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0px -8px 0px -8px;
  background-color: var(--secondary_theme_color);
  display: flex;
  justify-content: center;
}

div {
  display: block;
  letter-spacing: 3px;
  font-family: Helvetica;
  padding: 0px 5px 10px 5px;
}

span {
  display: inline-block;
}

/******************************************************************************************************************************************************************************/
/***************************************************************************** Text Mod ***************************************************************************************/
/******************************************************************************************************************************************************************************/

h1 {
  margin: 0px 20px 40px 5px;
  color: white;
}

p {
  font-size: .9em;
}

#movie_title {
  border-bottom: 2px solid var(--secondary_theme_color);
}

header>h1 {
  margin-top: 7px;
  margin-bottom: 15px;
  color: white;
  text-shadow: 2px 2px 5px var(--theme_color);
  font-family: "Times New Roman", Times, serif;
}

.errors {
  color: red;
  margin-left: 38.5%;
}

label {
  display: block;
}

.user_name {
  padding-top: 3px;
  color: aliceblue;
  border-bottom: 3px groove var(--secondary_theme_color);
}

a:link,
a:visited {
  color: var(--link_color);
  text-decoration: none;
  line-height: 20px;
}

a:hover,
a:active {
  color: var(--link_color_selected);
}

.standout_text{
  color: var(--text_standout);
}

/******************************************************************************************************************************************************************************/
/****************************************************************************** General ***************************************************************************************/
/******************************************************************************************************************************************************************************/



.centered {
  margin-left: 36%;
}

.full_centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}


ul.no_bullet {
  list-style: none;
}

div.moved_a_lil {
  margin-left: 15px;
  min-width: 400px;
}


#reviews {
  position: relative;
  top: 200px;
  left: 40px;
  border: 3px groove var(--secondary_theme_color);
  border-radius: 10px;

}

#add_review {
  margin-top: 40px;
}




ul.comments {
  list-style: none;
}

ul.comments li {
  border: 3px groove var(--secondary_theme_color);
  border-radius: 3px;
  margin-top: 6px;
  min-width: 600px;
}

#movie_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 790px;
  min-width: 600px;

  border: 3px groove var(--secondary_theme_color);
  border-radius: 10px;
}


section.movie_info {
  min-width: 500px;
  border-left: 3px dashed var(--secondary_theme_color);
}

.comments_overflow {
  overflow: auto;
  height: 500px;
  margin-bottom: 12px;
}

/****************************************************************************** Images ***************************************************************************************/

#logo {
  padding: 6px 30px;
  height: 40px;
  object-fit: scale-down;
}

img.thumbnail {
  margin: 5px;
  height: 98%;
}

.hover_img a {
  position: relative;
}

.hover_img a span {
  position: absolute;
  top: -150%;
  left: 105%;
  display: none;
  z-index: 99;

}

.hover_img a span img {
  height: 120px;
  border: 3px groove var(--secondary_theme_color);
}

.hover_img a:hover span {
  display: block;
}

i {
  display: block;
  position: relative;
  top: -70%;
  left: 98.4%;
}

i:hover {
  color: var(--link_color_selected);
}

.gg-software-upload:hover {
  color: var(--link_color_selected);
}

/************************************************************************** Forms/Buttons ***********************************************************************************/


a.button:link,
a.button:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.button:hover,
a.button:active {
  background-color: var(--theme_color);
  color: white;
}


button {
  background-color: var(--primary_color);
  border: none;
  border-radius: 7px;
  height: 50px;
  min-width: 120px;
  color: var(--link_color_selected);
  padding: 16px 32px;
  text-decoration: none;
  margin: 0px 2px;
  cursor: pointer;
}

.custom-file-upload {
  background-color: var(--primary_color);
  border: none;
  border-radius: 7px;
  color: var(--link_color_selected);
  padding: 16px 32px;
  text-decoration: none;
  margin: 0px 2px;
  cursor: pointer;
}

button:hover,
.custom-file-upload:hover {
  background-color: var(--primary_color_selected);
  color: var(--link_color_selected);
}

input[type="file"] {
  display: none;
}


.centered input {
  border: 2px solid var(--border_color);
  border-radius: 4px;
  background-color: var(--secondary_theme_color);
  color: var(--dark_text);
  width: 200px;
  height: 30px;
}


input[type=number].score {
  background-color: var(--secondary_theme_color);
  height: 27px;
  width: 67px;
  color: var(--dark_text);
  border: 2px solid var(--border_color);
  border-radius: 4px;
  padding: 3.6px 10px;
  margin: 0px 10px 0px 35px;
}

input[type=number].score::placeholder {
  opacity: 0.7;
  color: var(--dark_text);
}

input[type=number].score:focus {
  font-size: 22px;
  color: white;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary_theme_color);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid var(--border_color);
  border-radius: 4px;
  background-color: var(--secondary_theme_color);
  color: var(--dark_text);
  resize: none;
}

.input_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 320px;
  margin: 6% 0px 0px 40%;
  border: 3px groove var(--theme_color);
  border-radius: 10px;
  background-color: var(--secondary_theme_color);
}

.input_form_artist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 440px;
  margin: 6% 0px 0px 40%;
  border: 3px groove var(--theme_color);
  border-radius: 10px;
  background-color: var(--secondary_theme_color);
}

#register_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
  margin: 6% 0px 0px 40%;
  border: 3px groove var(--theme_color);
  border-radius: 10px;
  background-color: var(--secondary_theme_color);
}

form.data_input input {
  margin-top: 2px;
  padding: 8px 13px;
  border-radius: 5px;
  width: 220px;
}

form.data_input input:focus {
  border-color: var(--secondary_theme_color);
  background-color: var(--input_color);
  transition: .3s;
}


/*************************************************************************** Searchbar **************************************************************************************/

#searchBarForm {
  width: 60%;
  margin: 5px 10px 5px 10px;
}

input[type=text]#searchBar {
  background-color: var(--theme_color);
  color: var(--dark_text);
  display: inline-block;
  width: 99%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
}

input[type=text]#searchBar:focus {
  border-radius: 20px;
  transition: 0.1s;
}

#searchBar_button {
  width: 33px;
  height: 36px;
  position: relative;
  top: -7px;
  left: -7px;
  background: transparent;
  border: none !important;
  font-size: 0;
  cursor: pointer;
  z-index: 1;
}

.dropbtn {
  background-color: var(--secondary_theme_color);
  font-size: .9em;
  padding: 15px;
  float: left;
  border: none;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  background-color: #404040;
  color: var(--link_color_selected);
  border-radius: 4px;
  transition: 0.35s;
}

.dropdown {
  position: relative;
  display: inline-block;
  user-select: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 47px;
  left: -1px;
  background-color: var(--secondary_theme_color);
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: .8em;
}

.dropdown-content a:hover {
  background-color: #404040;
  color: var(--link_color_selected);
  transition: 0.01s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/**************************************************************************** Carousel **************************************************************************************/

.carousel-container {
  position: absolute;
  top: 10%;
  left: 50%;
  max-width: 45%;
  margin-bottom: 2px;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  margin-left: 45%;
  margin-right: 0%;
}

/* Hides the scrollbar in webkit browsers*/
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel_item {
  flex-shrink: 0;
  scroll-snap-align: start;
}

.carousel_image {
  display: block;
}

.carousel_movie {
  display: inline-block;
  padding: 6px 30px;
  height: 1000px;
  max-height: 600px;
  width: 400px;
  object-fit: scale-down;
}

.controls {
  position: absolute;
  right: 0;
  left: 25em;
  text-align: center;
  user-select: none;
}

.controls_dot {
  display: inline-block;
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  outline: none;
  background-color: white;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.2s;
}

&:not(:first-child) {
  margin-left: 0.45em;
}

&:hover,
&:focus {
  opacity: 1;
}


/*********************************************************************** Movie Container **********************************************************************************/

.movie-container {
  display: flex;
  flex-wrap: nowrap;
  flex-wrap: wrap;
}

.movie-container ul {
  list-style: none;
  overflow: hidden;

}

.movie-container li {
  background-color: var(--secondary_theme_color);
  color: var(--link_color_selected);
  width: 200px;
  height: 315px;
  margin: 10px 80px 50px 80px;
  text-align: center;
  font-size: 12px;
  float: left;

}

.movie-container a {
  color: var(--link_color_selected);
  width: 100px;
  text-align: center;
  line-height: 85px;
  font-size: 15px;  border-radius: 3px;
}

.movie-container a.bttn {
  background-color: var(--primary_color);
  color: var(--link_color_selected);
  width: 100px;
  text-align: center;
  line-height: 107px;
  font-size: 18px;  border-radius: 3px;
}

.movie-container a.bttn:hover {
  background-color: var(--primary_color_selected);
}

.movie-container img {
  width: 180px;
  height: 280px;
  margin: 7px 2px -40px 2px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}