/.metadata
/.vscode
/siw-auto-00
/siw-jpa-es1
/siw-jpa-es2
/siw-jpa-es3
/siw-jpa-es7
/siw-movie-1
/siw-repository-es1
/siw-repository-es2
/siw-repository-es3
/src
/siw-movie-00/src/main/resources/static/images/movie-images
/siw-movie-00/src/main/resources/static/images/actor-images
/siw-social-00/src/main/resources/static/images/user-images
/siw-social-00/src/main/resources/static/images/story-images
siw-movie-00.rar
siw-social-00.rar