/******************************************************************************************************************************************************************************/
/**************************************************************************** Main Items **************************************************************************************/
/******************************************************************************************************************************************************************************/

/*top right bot left*/
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css');

:root {
  --dark: #1a1a1a;
  --less_dark: #333333;
  --dark_text: #999999;
}

body {
  background-color: var(--dark);
  font-family: "Lucida Console", "Courier New", monospace;
  color: var(--dark_text);

  /* border: 1px dotted white; */
}

nav {
  display: flex;
  justify-content: start;
  background-color: var(--less_dark);
  padding: 0px;
  margin: -8px -8px 0px -8px;
  max-height: 50px;
  /* border: 2px dotted white; */
}

header {
  background-color: var(--dark);

  /* border: 2px dotted green; */
}

section.box {
  border: 3px groove var(--less_dark);
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0px -8px 0px -8px;
  background-color: var(--less_dark);
  display: flex;
  justify-content: center;

  /* border: 2px dotted royalblue; */
}

div {
  display: block;
  letter-spacing: 3px;
  font-family: Helvetica;
  padding: 0px 5px 10px 5px;

  /* border: 2px dotted pink; */
}

span {
  display: inline-block;

  /* border: 2px dotted yellow; */
}

/******************************************************************************************************************************************************************************/
/***************************************************************************** Text Mod ***************************************************************************************/
/******************************************************************************************************************************************************************************/

h1 {
  margin: 0px 20px 40px 5px;
  /* top right bot left */
  color: white;
}

p {
  font-size: .9em;
}

#movie_title {
  border-bottom: 2px solid var(--less_dark);
}

header > h1 {
  margin-top: 7px;
  margin-bottom: 15px;
  color: white;
  text-shadow: 2px 2px 5px var(--dark);
  font-family: "Times New Roman", Times, serif;
}

/******************************************************************************************************************************************************************************/
/****************************************************************************** General ***************************************************************************************/
/******************************************************************************************************************************************************************************/

.centered {
  padding-left: 50%;
  padding-top: 50%;
}

ul.no_bullet {
  list-style: none;
}

#logo {
  padding: 6px 30px;
  height: 40px;
  object-fit: scale-down;
}

div.moved_a_lil{
  margin-left: 15px;
}

a:link,
a:visited {
  color: #c2c2d6;
  text-decoration: none;
  line-height: 20px;
}

a:hover,
a:active {
  color: white;
}



.hover_img a {
  position: relative;
}

.hover_img a span {
  position: absolute;
  top: -150%;
  left: 105%;
  display: none;
  z-index: 99;

}

.hover_img a span img {
  height: 120px;
  border: 3px groove var(--less_dark);
}

.hover_img a:hover span {
  display: block;
}



a.button:link,
a.button:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.button:hover,
a.button:active {
  background-color: var(--dark);
  color: white;
}

#searchBarForm {
  width: 60%;
  margin: 5px 10px 5px 10px;
}

input[type=text]#searchBar {
  background-color: var(--dark);
  color: var(--dark_text);
  display: inline-block;
  width: 99%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
}

input[type=text]#searchBar:focus{
  border-radius: 20px;
  transition: 0.1s;
}

i {
  display: block;
  position: relative;
  top: -70%;
  left: 98.4%;
}
i:hover {
  color: white;
}

#searchBar_button {
  width: 33px;
  height: 36px;
  position: relative;
  top: -7px;
  left: -7px;
  background: transparent;
  border: none !important;
  font-size: 0;
  cursor: pointer;
  z-index: 1;
}

.dropbtn {
  background-color: #333333;
  font-size: .9em;
  padding: 15px;
  float: left;
  border: none;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  background-color: #404040;
  color: white;
  border-radius: 4px;
  transition: 0.35s;
}

.dropdown {
  position: relative;
  display: inline-block;
  user-select: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 47px;
  left: -1px;
  background-color: #333333;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: .8em;
}

.dropdown-content a:hover {
  background-color: #404040;
  transition: 0.01s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.carousel-container {
  position: absolute;
  top: 10%;
  left: 50%;
  max-width: 45%;
  margin-bottom: 2px;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  margin-left: 45%;
  margin-right: 0%;
}

/* Hides the scrollbar in webkit browsers*/
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel_item {
  flex-shrink: 0;
  scroll-snap-align: start;
}

.carousel_image {
  display: block;
}

.carousel_movie {
  display: inline-block;
  padding: 6px 30px;
  height: 1000px;
  max-height: 600px;
  width: 400px;
  object-fit: scale-down;
}

.controls {
  position: absolute;
  right: 0;
  left: 25em;
  text-align: center;
  user-select: none;
}

.controls_dot {
  display: inline-block;
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  outline: none;
  background-color: white;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.2s;
}

&:not(:first-child) {
  margin-left: 0.45em;
}

&:hover,
&:focus {
  opacity: 1;
}


/******************************************************************************************************************************************************************************/
/**************************************************************************** Flex Items **************************************************************************************/
/******************************************************************************************************************************************************************************/

.centered_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

#movie_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  height: 700px;
  
  border: 3px groove var(--less_dark);
  border-radius: 10px;
}

img.thumbnail {
  margin: 5px; 
  height: 98%;
}

section.movie_info {
  min-width: 500px;
  border-left: 3px dashed var(--less_dark);
}