/**************************************************************************** Main Items **************************************************************************************/


/*top right bot left*/

/* URL ICONS IMPORT */
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/software-upload.css');

:root {
  --theme_color: rgb(252, 244, 244);

  --primary_color: gold;
  --primary_color_selected: rgb(235, 200, 4);

  --secondary_color: rgb(87, 86, 86);
  --secondary_color_selected: rgb(0, 255, 115);

  --input_color: white;
  --input_color_selected: rgb(208, 211, 170);
  --input_text_color: rgb(167, 167, 167);
  --input_text_color_selected: black;
  --text_label: white;

  --text_color: black;
  --text_standout: green;

  --link_color: rgb(48, 45, 45);
  --link_color_selected: tomato;
}



body {
  background-color: var(--theme_color);
  font-family: "Lucida Console", "Courier New", monospace;
  color: var(--text_color);
}

nav {
  display: flex;
  justify-content: start;
  background-color: var(--primary_color);
  padding: 0px;
  margin: -8px -8px 0px -8px;
  max-height: 50px;
}

header {
  background-color: var(--theme_color);
}

section.box {
  border: 3px groove var(--primary_color);
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0px -8px 0px -8px;
  background-color: var(--primary_color);
  display: flex;
  justify-content: center;
}

div {
  display: block;
  letter-spacing: 3px;
  font-family: Helvetica;
  padding: 0px 5px 10px 5px;
}

span {
  display: inline-block;
}



/******************************************************************************************************************************************************************************/
/****************************************************************************** General ***************************************************************************************/
/******************************************************************************************************************************************************************************/

/* use as parent to float elems to fix em */
.parent.clearfix {
  overflow: hidden;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full_centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

div.moved_a_lil {
  margin-left: 15px;
  min-width: 400px;
}

.div_text {
  margin-left: 30%;
  margin-right: 25%;
}

ul {
  list-style: none;
}

ul.stories {
  list-style: none;
}

ul.stories li {
  border: 3px groove var(--primary_color);
  border-radius: 10px;
  margin-top: 7px;
  width: 700px;
}

.story_buttons {
  border-top: groove;
}

.str {
  display: inline-flex;
  min-width: 960px;
}

.story_desc {
  float: right;
  margin-top: 13px;
  margin-right: 260px;
  flex-grow: 4;
}

#stories_divisor {
  margin-top: 100px;
  width: 99%;

  border-bottom: 3px groove var(--primary_color);
  border-radius: 2px;
}

.user_info {
  min-width: 500px;
  border-left: 3px dashed var(--primary_color);
}

#profile_description {
  display: flex;

  height: 260px;
  min-width: 700px;
  max-width: 700px;

  border: 3px groove var(--primary_color);
  border-radius: 2px;
}

.story_full {
  display: flex;

  min-width: 700px;
  min-height: 700px;
  background-color: var(--theme_color);

  border: 3px groove var(--primary_color);
  border-radius: 2px;
}

#story {
  min-width: 80%;
}

.story_full_desc {
  min-height: 170px;
  margin: 13px 5px 0px 1em;
  width: 99%;

}

.comment_section {
  border-left: 3px groove var(--primary_color);
  border-radius: 2px;
  float: left;
}

.comments_overflow {
  overflow: auto;
  height: 590px;
  margin-bottom: 12px;
}

#story_new_comment {
  position: relative;
  min-width: 210px;
}

/***************************************************************************** Text Mod ***************************************************************************************/

a:link,
a:visited {
  color: var(--link_color);
  text-decoration: none;
  line-height: 20px;
}

a:hover,
a:active {
  color: var(--link_color_selected);
}

h1 {
  margin: 0px 20px 40px 5px;
  color: var(--text_color);
}

p {
  font-size: .9em;
}

label {
  display: block;
  color: var(--text_label);
}

#add_post label {
  display: block;
  color: var(--text_color);
}

header>h1 {
  margin-top: 7px;
  margin-bottom: 15px;
  color: var(--text_color);
  text-shadow: 2px 2px 5px var(--theme_color);
  font-family: "Times New Roman", Times, serif;
}

.user_name {
  padding-top: 3px;
  color: var(--text_standout);
  border-bottom: 3px groove var(--primary_color);
}

.errors {
  color: red;
  margin-left: 38.5%;
}


/******************************************************************************* Images ***************************************************************************************/

#logo {
  padding: 6px 30px;
  height: 40px;
  object-fit: scale-down;
}

img.propic {
  margin: 5px;
  width: 250px;
  max-height: 250px;
}

img.story_preview {
  margin: 5px;
  width: 170px;
  margin-bottom: 7%;
  float: left;
}



img.story_image {
  margin: 0% 5px -15px 5px;
  max-width: 99%;
  height: 690px;
}

.hover_img a {
  position: relative;
}

.hover_img a span {
  position: absolute;
  top: -150%;
  left: 105%;
  display: none;
  z-index: 99;

}

.hover_img a span img {
  height: 120px;
  border: 3px groove var(--primary_color);
}

.hover_img a:hover span {
  display: block;
}

i {
  display: block;
  position: relative;
  top: -70%;
  left: 98.4%;
}

i:hover {
  color: var(--primary_color);
}

.gg-software-upload:hover {
  color: var(--link_color_selected);
}

/************************************************************************* Form/Buttons/Inputs *********************************************************************************/

button {
  background-color: var(--primary_color);
  border: none;
  border-radius: 7px;
  height: 50px;
  min-width: 120px;
  color: var(--link_color);
  padding: 16px 32px;
  text-decoration: none;
  margin: 0px 2px;
  cursor: pointer;
}

.custom-file-upload {
  background-color: var(--primary_color);
  border: none;
  border-radius: 7px;
  color: var(--link_color);
  padding: 16px 32px;
  text-decoration: none;
  margin: 0px 2px;
  cursor: pointer;
}

button:hover,
.custom-file-upload:hover {
  background-color: var(--primary_color_selected);
  color: var(--link_color_selected);
}

input[type="file"] {
  display: none;
}

input {
  background-color: var(--input_color);
  border: none;
  border-radius: 5px;
  width: 220px;
  font-family: Helvetica;
  color: var(--input_text_color);
  padding: 8px 13px;
  text-decoration: none;
  margin-top: 2px;
  cursor: pointer;
}

input:focus {
  background-color: var(--input_color_selected);
  border-color: var(--primary_color);
  color: var(--input_text_color_selected);
  transition: .3s;
}


select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--input_color);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid var(--input_color);
  border-radius: 4px;
  background-color: var(--primary_color);
  color: var(--text_color);
  resize: none;
}

.input_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 320px;
  margin: 6% 0px 0px 40%;
  border: 3px groove var(--theme_color);
  border-radius: 10px;
  background-color: var(--secondary_color);
}

#register_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 540px;
  margin: 6% 0px 0px 40%;
  border: 3px groove var(--theme_color);
  border-radius: 10px;
  background-color: var(--secondary_color);
}


/***************************************************************************** Searchbar **************************************************************************************/


#searchBarForm {
  width: 60%;
  margin: 5px 10px 5px 10px;
}

#searchBar {
  background-color: var(--theme_color);
  color: var(--text_color);
  display: inline-block;
  width: 99%;
  padding: 9px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
}

#searchBar:focus {
  border-radius: 20px;
  transition: 0.3s;
}

#searchBar_button {
  width: 33px;
  height: 36px;
  position: relative;
  top: -7px;
  left: -7px;
  background: transparent;
  border: none !important;
  font-size: 0;
  cursor: pointer;
  z-index: 1;
}


.dropbtn {
  background-color: var(--primary_color);
  font-size: .9em;
  padding: 15px;
  float: left;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  user-select: none;
}

.dropdown:hover {
  background-color: var(--primary_color_selected);
  color: var(--link_color_selected);
  border-radius: 4px;
  transition: 0.35s;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 47px;
  left: -1px;
  background-color: var(--primary_color);
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  color: var(--link_color);
  display: block;
  font-size: .8em;
}

.dropdown-content a:hover {
  background-color: var(--primary_color_selected);
  color: var(--link_color_selected);
  transition: 0.01s;
}

.dropdown:hover .dropdown-content {
  display: block;
}