<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/stile.css?version=2">

	<title> Actors </title>

</head>


<body>

	<nav>
		<a href="/"><img src="/images/logo-siw.png" id="logo"></a>
		<form th:action="@{/searchMovie}" method="post" id="searchBarForm">
			<input type="text" name="substring" placeholder="Search movie" id="searchBar" />
			<i class="gg-search">
				<input type="submit" id="searchBar_button" />
			</i>
		</form>


		<span class="dropdown">
			<div class="dropbtn"> Movies </div>
			<div class="dropdown-content">
				<a href="/movies"> Vedi Film </a>
				<a href="/formSearchMovies"> Cerca Film </a>
			</div>
		</span>

		<span class="dropdown">
			<div class="dropbtn"> Actors </div>
			<div class="dropdown-content">
				<a href="/artists"> Vedi Artisti </a>
			</div>
		</span>

		<span class="dropdown">
			<div th:unless="${#request.userPrincipal}" class="dropbtn"> Account </div>
			<div th:if="${#request.userPrincipal}" th:text="${#request.userPrincipal.principal.username}"
				class="dropbtn">
				Username </div>
			<div class="dropdown-content">
				<a th:if="${#request.userPrincipal}" href="/logout">Logout</a>
				<a th:unless="${#request.userPrincipal}" href="/login">Login</a>
				<a th:unless="${#request.userPrincipal}" href="/register"> Register </a>
			</div>
		</span>
	</nav>


	<header>
		<h1 th:if="${artists.isEmpty()}"> Non ci sono artisti nel database </h1>
		<h1 th:unless="${artists.isEmpty()}"> Artisti: </h1>
	</header>

	<div>
		<ul>
			<li th:each="artist : ${artists}" th:object=${artist}>
				<span class="hover_img">
					<a th:href="@{'/artists' + '/' + *{id}}">
						<p th:text="*{name} + '  ' + *{surname}  + ' (' + ${artist.birthDate} + ')'" > </p>
						<span><img th:src="${artist.ImagePath}" /></span>
					</a>
				</span>
			</li>
		</ul>
	</div>


	<footer>

	</footer>

</body>

</html>