<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stile.css?version=2">

	<title> Add Artist </title>

</head>


<body>

	<nav>
		<a href="/"><img src="/logo-siw.png" id="logo"></a>

		<form th:action="@{/searchMovie}" method="post" id="searchBarForm">
			<input type="text" th:value="${year}" name="year" placeholder="Search a movie based on its year" id="searchBar" />
			<i class="gg-search">
				<input type="submit" id="searchBar_button" />
			</i>
		</form>

		<span class="dropdown">
			<div class="dropbtn"> Movies </div>
			<div class="dropdown-content">
				<a href="/manageMovies"> Vedi Film </a>
				<a href="/formSearchMovies"> Cerca Film </a>
				<a href="/formNewMovie"> Inserisci Film </a>
			</div>
		</span>

		<span class="dropdown">
			<div class="dropbtn"> Actors </div>
			<div class="dropdown-content">
				<a href="/showArtists"> Vedi Artisti </a>
				<a href="/formNewArtist"> Aggiungi Artista </a>
			</div>
		</span>

	</nav>


	<header>
		<h1> Aggiungi un'artista nel database </h1>
	</header>


	<section class="input_form">
		<form th:action="@{/addArtist}" method="post" th:object="${artist}" class="data_input">
			<div>
				<label> Nome </label>
				<span> <input required type="text" th:field="${artist.name}" /> </span>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			</div>
			<div> 
				<label> Eta </label> 
				<span> <input required type="text" th:field="${artist.age}" /> </span>
				<span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"> </span>
			</div>
			<div class="centered_box"> <button type="submit"> Aggiungi </button> </div>
		</form>
	</section>


	<footer>

	</footer>

</body>

</html>