<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/stile.css?version=2">

  <title> Login </title>

</head>


<body>

  <nav>
    <a href="/"><img src="/images/logo-siw.png" id="logo"></a>
    <form th:action="@{/searchMovie}" method="post" id="searchBarForm">
      <input type="text" name="substring" placeholder="Search movie" id="searchBar" />
      <i class="gg-search">
        <input type="submit" id="searchBar_button" />
      </i>
    </form>


    <span class="dropdown">
      <div class="dropbtn"> Film </div>
      <div class="dropdown-content">
        <a href="/movies"> Vedi Film </a>
        <a href="/formSearchMovies"> Cerca Film </a>
      </div>
    </span>

    <span class="dropdown">
      <div class="dropbtn"> Artisti </div>
      <div class="dropdown-content">
        <a href="/artists"> Vedi Artisti </a>
      </div>
    </span>

    <span class="dropdown">
      <div th:unless="${#request.userPrincipal}" class="dropbtn"> Account </div>
      <div th:if="${#request.userPrincipal}" th:text="${#request.userPrincipal.principal.username}" class="dropbtn">
        Username </div>
      <div class="dropdown-content">
        <a th:if="${#request.userPrincipal}" href="/logout">Logout</a>
        <a th:unless="${#request.userPrincipal}" href="/login">Login</a>
        <a th:unless="${#request.userPrincipal}" href="/register"> Register </a>
      </div>
    </span>
  </nav>


  <header>
    <h1> Collegati con il tuo account: </h1>
  </header>


  <section class="input_form">
    <form th:action="@{/login}" method="post" class="data_input">
      <div>
        <label> Username </label>
        <span> <input required type="text" name="username" /> </span>
      </div>
      <div>
        <label> Password </label>
        <span> <input required type="password" name="password" /> </span>
      </div>
      <div class="full_centered"> <button type="submit"> Login </button> </div>
      <div th:if="${param.error != null}" class="errors2">Username o password errati</div>
    </form>
  </section>


  <footer>

  </footer>

</body>

</html>