<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stile.css?version=2">

	<title th:text="${movie.title}"> Movie </title>

</head>


<body>

	<nav>
		<a href="/"><img src="/logo-siw.png" id="logo"></a>

		<form th:action="@{/searchMovie}" method="post" id="searchBarForm">
			<input type="text" th:value="${year}" name="year" placeholder="Search a movie based on its year"
				id="searchBar" />
			<i class="gg-search">
				<input type="submit" id="searchBar_button" />
			</i>
		</form>

		<span class="dropdown">
			<div class="dropbtn"> Movies </div>
			<div class="dropdown-content">
				<a href="/manageMovies"> Vedi Film </a>
				<a href="/formSearchMovies"> Cerca Film </a>
				<a href="/formNewMovie"> Inserisci Film </a>
			</div>
		</span>

		<span class="dropdown">
			<div class="dropbtn"> Actors </div>
			<div class="dropdown-content">
				<a href="/showArtists"> Vedi Artisti </a>
				<a href="/formNewArtist"> Aggiungi Artista </a>
			</div>
		</span>

	</nav>


	<header>
		<div th:unless="${movie}"> Film non trovato! </div>
	</header>

	<section class="centered_box">
		<section th:if="${movie}" th:object=${movie} id="movie_description">
			<span> <img th:src="@{${movie.ImagePath}}" class="thumbnail"> </span>


			<section class="movie_info">
				<div class="centered_box">
					<h1 th:text="*{title}" id="movie_title"> Berserk Golden Age </h1>
				</div>

				<div class="moved_a_lil">

					<div> Regista:
						<span th:unless="${movie.director == null}">
							<span th:text="${movie.director.name}"> </span>
						</span>
					</div>

					<div> Anno: <span th:text="*{year}"> </span> </div>

					<div> Attori:
						<ul class="no_bullet">
							<li th:each="artist : ${movie.artists}">
								<p th:text="${artist.name} + ' (' + ${artist.age} + ')'"> </p>
							</li>
						</ul>
					</div>
					<a th:href="@{'/updateMovie' + '/' + *{id}}" class="centered_box"> Aggiorna Film </a>
				</div>

			</section>
		</section>
	</section>


	<footer>

	</footer>

</body>

</html>