<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stile.css?version=2">

	<title th:text="${movie.title}"> Movie </title>

</head>


<body>

	<nav>
		<a href="/"><img src="/logo-siw.png" id="logo"></a>

		<form th:action="@{/searchMovie}" method="post" id="searchBarForm">
			<input type="text" th:value="${year}" name="year" placeholder="Search a movie based on its year"
				id="searchBar" />
			<i class="gg-search">
				<input type="submit" id="searchBar_button" />
			</i>
		</form>

		<span class="dropdown">
			<div class="dropbtn"> Movies </div>
			<div class="dropdown-content">
				<a href="/manageMovies"> Vedi Film </a>
				<a href="/formSearchMovies"> Cerca Film </a>
				<a href="/formNewMovie"> Inserisci Film </a>
			</div>
		</span>

		<span class="dropdown">
			<div class="dropbtn"> Actors </div>
			<div class="dropdown-content">
				<a href="/showArtists"> Vedi Artisti </a>
				<a href="/formNewArtist"> Aggiungi Artista </a>
			</div>
		</span>

	</nav>


	<header>
		<div th:unless="${movie}"> Film non trovato! </div>
	</header>

	<section th:if="${movie}" class="centered_box">
		<section th:object=${movie} id="movie_description">
			<span> <img th:src="@{${movie.ImagePath}}" class="thumbnail"> </span>


			<section class="movie_info">
				<div class="centered_box">
					<h1 th:text="*{title}" id="movie_title"> Berserk Golden Age </h1>
				</div>

				<div class="moved_a_lil">

					<div> Regista:
						<span th:unless="${movie.director == null}">
							<span th:text="${movie.director.name}"> </span>
						</span>
					</div>

					<div> Anno: <span th:text="*{year}"> </span> </div>

					<div> Attori:
						<ul class="no_bullet">
							<li th:each="artist : ${movie.artists}">
								<p th:text="${artist.name} + ' (' + ${artist.age} + ')'"> </p>
							</li>
						</ul>
					</div>
					<a th:href="@{'/updateMovie' + '/' + *{id}}" class="centered_box"> Aggiorna Film </a>
				</div>
			</section>
		</section>

		<section class="reviews">
			<div>
				<ul class="comments">
					<li th:each="review : ${reviews}" th:object=${review}>
						<div th:text="'Voto:' + *{score}"> </div>
						<div th:text="*{comment}"> </div>
					</li>
				</ul>
			</div>
		</section>
	</section>
	<section id="add_review">

		<form th:action="@{'/addReview' + '/' + ${movie.id}}" method="post" th:object="${review}">

			<div>
				<label for="cmt">Aggiungi recensione</label>
				<textarea id="cmt" name="cmt" rows="3" cols="50" th:field="${review.comment}"
					placeholder="type shomething.."></textarea>
			</div>
			<div class="p_rev">
				<span>
					<input required type="number" th:field="${review.score}" min="1" max="5" placeholder="Voto"
						class="score">
					<!-- <span th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></span> -->
				</span>
				<span> <button type="submit"> Pubblica </button> </span>
			</div>
		</form>
	</section>

	<footer>

	</footer>

</body>

</html>