<!DOCTYPE html>
<html>

<head>

	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<link rel = "stylesheet" href = "/stile.css?version=2">

	<title> Actor List </title>

</head>


<body>

	<nav>
		<a href = "/"><img src = "/logo-siw.png" id = "logo"></a>

		<form th:action="@{/searchMovie}" method="post" id="searchBarForm">
			<input type="text" th:value="${year}" name="year" placeholder="Search a movie based on its year"
				id="searchBar" />
			<i class="gg-search">
				<input type="submit" id="searchBar_button" />
			</i>
		</form>

		<span class = "dropdown">
			<div class = "dropbtn"> Movies </div>
			<div class = "dropdown-content">
				<a href = "/manageMovies"> Vedi Film </a>
				<a href = "/formSearchMovies"> Cerca Film </a>
				<a href = "/formNewMovie"> Inserisci Film </a>
			</div>
		</span>

		<span class = "dropdown">
			<div class = "dropbtn"> Actors </div>
			<div class = "dropdown-content">
				<a href = "/showArtists"> Vedi Artisti </a>
				<a href = "/formNewArtist"> Aggiungi Artista </a>
			</div>
		</span> 
	</nav>


	<header>
		<h1 th:if = "${artists.isEmpty()}"> Non ci sono artisti nel database </h1>
		<h1 th:unless = "${artists.isEmpty()}"> Artisti: </h1>
	</header>


	<div>
		<ul>
			<li th:each = "artist : ${artists}" th:object = ${artist}>
				<span th:text = "*{name} + ' (' + *{age} + ')'"> </span>
			</li>
		</ul>
	</div>


	<footer> 

	</footer>

</body>

</html>