<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/stile.css?version=2">

  <title> Edit Profile </title>

</head>


<body>

  <nav>
    <a href="/"><img src="/images/logo-siw.png" id="logo"></a>
    <form th:action="@{/searchUser}" method="post" id="searchBarForm">
      <input type="text" name="substring" placeholder="Search user" id="searchBar" />
      <i class="gg-search">
        <input type="submit" id="searchBar_button" />
      </i>
    </form>


    <span class="dropdown">
      <div th:unless="${#request.userPrincipal}" class="dropbtn"> Account </div>
      <div th:if="${#request.userPrincipal}" th:text="${#request.userPrincipal.principal.username}" class="dropbtn">
        Username </div>
      <div class="dropdown-content">
        <a th:if="${#request.userPrincipal}" href="/myProfile">Profile</a>
        <a th:if="${#request.userPrincipal}" href="/logout">Logout</a>
        <a th:unless="${#request.userPrincipal}" href="/login">Login</a>
				<a th:unless="${#request.userPrincipal}" href="/register"> Register </a>
      </div>
    </span>

    <span class="dropdown">
      <div class="dropbtn"> People </div>
      <div class="dropdown-content">
        <a th:if="${#request.userPrincipal}" href="/friendRequests"> Requests </a>
        <a th:if="${#request.userPrincipal}" href="/friends"> Friends </a>
        <a href="/users"> Users </a>
      </div>
    </span>
  </nav>


  <header>
    <h1> Update Your Profile: </h1>
  </header>


  <section id="register_form">
    <form th:action="@{/modifyUser}" method="post" class="data_input" enctype="multipart/form-data">
      <div>
        <label>Name</label>
        <span><input type="text" placeholder="name" name="name" /></span>
      </div>
      <div>
        <label>Surname</label>
        <span><input type="text" placeholder="surname" name="surname" /></span>
      </div>
      <div>
        <label>Birth Date</label>
        <input type="date" name="birthdate" />
      </div>
      <div>
        <label>Email</label>
        <span><input type="email" placeholder="email" name="email" /></span>
      </div>

      <div class="centered_box">
        <label for="file-upload" class="custom-file-upload"> Upload Image
          <span><i class="gg-software-upload"></i></span>
        </label>
        <input id="file-upload" type="file" accept="image/png, image/jpeg" name="image" />
      </div>

      <div class="centered_box"> <button type="submit"> Update </button> </div>
      <a href="/myProfile" class="centered_box"> Back To Profile </a>
      <div th:if="${messaggioSuccesso}" th:text="${messaggioSuccesso}" style="color:green"></div>
    </form>
  </section>

  <footer>
    <p> Sito creato per il corso SIW di Roma3 </p>
  </footer>

</body>

</html>