<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/stile.css?version=2">

	<title th:text="${movie.title}"> Movie </title>

</head>


<body>

	<nav>
		<a href="/"><img src="/images/logo-siw.png" id="logo"></a>
		<form th:action="@{/searchMovie}" method="post" id="searchBarForm">
			<input type="text" name="substring" placeholder="Search movie" id="searchBar" />
			<i class="gg-search">
				<input type="submit" id="searchBar_button" />
			</i>
		</form>


		<span class="dropdown">
			<div class="dropbtn"> Film </div>
			<div class="dropdown-content">
				<a href="/movies"> Vedi Film </a>
				<a href="/formSearchMovies"> Cerca Film </a>
				<a href="/formNewMovie"> Aggiungi Film </a>
			</div>
		</span>

		<span class="dropdown">
			<div class="dropbtn"> Artisti </div>
			<div class="dropdown-content">
				<a href="/artists"> Vedi Artisti </a>
				<a href="/formNewArtist"> Aggiungi Artista </a>
			</div>
		</span>

		<span class="dropdown">
			<div th:unless="${#request.userPrincipal}" class="dropbtn"> Account </div>
			<div th:if="${#request.userPrincipal}" th:text="${#request.userPrincipal.principal.username}" class="dropbtn">
				Username </div>
			<div class="dropdown-content">
				<a th:if="${#request.userPrincipal}" href="/logout">Logout</a>
				<a th:unless="${#request.userPrincipal}" href="/login">Login</a>
				<a th:unless="${#request.userPrincipal}" href="/register"> Register </a>
			</div>
		</span>
	</nav>


	<header>
		<div th:unless="${movie}"> Film non trovato! </div>
	</header>

	<section th:if="${movie}" class="full_centered">
		<section th:object=${movie} id="movie_description">
			<span> <img th:src="${movie.LatestImagePath}" class="thumbnail"
					onerror="this.onerror=null; this.src='/images/TBA.jpg'" /> </span>

			<div class="movie_info">
				<div class="full_centered">
					<h1 th:text="*{title}" id="movie_title"> Berserk Golden Age </h1>
				</div>

				<div class="moved_a_lil">

					<div> Regista:
						<span th:unless="${movie.director == null}">
							<a th:href="@{'/artists' + '/' + ${movie.director.id}}"
								th:text="${movie.director.name} + '  ' + ${movie.director.surname}"> </a>
						</span>
					</div>

					<div> Anno: <span th:text="*{year}"> </span> </div>
					<div th:text="'Media Voti: ' + ${movie.AverageScore}"> Media Voti: </div>

					<div> Attori:
						<ul class="no_bullet">
							<li th:each="artist : ${movie.artists}">
								<a th:href="@{'/artists' + '/' + ${artist.id}}"
									th:text="${artist.name} + '  ' + ${artist.surname}"> </a>
							</li>
						</ul>
					</div>
					<div> <a th:href="@{'/movieImages' + '/' + *{id}}" class="full_centered"> Vedi tutte le immagini </a> </div>
					<div> <a th:href="@{'/manageMovie' + '/' + *{id}}" class="full_centered"> Aggiorna Film </a> </div>
					<div> <a th:href="@{'/removeMovie' + '/' + *{id}}" class="full_centered"> Rimuovi Film </a> </div>
				</div>
			</div>
		</section>

		<section class="comments_overflow">
			<div class="reviews">
				<ul class="comments">
					<li th:each="review : ${reviews}" th:object=${review}>
						<div>
							<div th:text="*{user.surname} + ' ' + *{user.name}" class="user_name"> </div>
							<span th:text="*{title}" class="standout_text"> </span>
							<span th:text="'   Voto:' + *{score}" class="standout_text"> </span>
						</div>
						<div th:text="*{comment}"> </div>
						<a th:href="@{'/removeReview' + '/' + *{id}}"> Rimuovi </a>
					</li>
				</ul>
			</div>
		</section>

	</section>
	<section th:if="${#request.userPrincipal}" id="add_review">

		<form th:action="@{'/addReview' + '/' + ${movie.id}}" method="post" th:object="${review}">


			<div>
				<label for="cmt">Aggiungi recensione</label>
				<textarea id="cmt" name="cmt" rows="3" cols="50" th:field="${review.comment}"
					placeholder="type shomething.."></textarea>
			</div>
			<div class="centered">
				<span>
					<span> Titolo </span>
					<span> <input required type="text" th:field="${review.title}" /> </span>
				</span>
				<span>
					<input required type="number" th:field="${review.score}" min="1" max="5" placeholder="Voto"
						class="score">
				</span>
				<span> <button type="submit"> Pubblica </button> </span>
			</div>


			<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="errors"></div>
			<div th:if="${#fields.hasErrors('score')}" th:errors="*{score}" class="errors"></div>
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="errors">...</p>
			</div>
		</form>
	</section>

	<footer>

	</footer>

</body>

</html>